{% include "new_blog/common/top.html" %}

<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>


<script type="text/javascript">

    document.getElementById("blog").className="active"
    document.getElementById("home").className=""

</script>

<div class="container">
    <div class="col-sm-9" name="blog-body">

            <div name="blog-main" >
{#              <div class="blog-post">#}
{#                    <h3 class="blog-post-title">#}
{#                        <a href="/article/{{ article.id }}/">{{ article.caption }}</a>#}
{#                    </h3>#}
{#                    <p class="blog-post-meta">{{ article.publish_time }} <a href="#">Mark</a></p>#}
{#                     <p>{{ article.content| safe }}</p>#}
{#              </div><!-- /.blog-post -->#}
            <div class="col-sm-9" name="blog-body">
                <div class="publish_article">

                    {% block content %}
                   <form action ="" method="post">
                      {% csrf_token %}
                           <div class="publishForm">
                               {{ form.as_p }}
                           </div>
                       <button type="submit" class="btn btn-secondary">submit</button>

                   </form>
                     {% endblock %}

                        {% block scripts %}
                        <script type="text/javascript">
                          var editor = new Editor();
                          editor.render();
                        </script>
                        {% endblock %}
                </div>
            </div>



            </div>







    </div>

{% include "new_blog/common/side.html" %}


</div>
{% include "new_blog/common/bottom.html" %}