   <!-- blog-footer -->
<footer class="blog-footer">
    <div class="footstuff">
    <p>
    template built for chang
    <p>
    <a href="#">back to top</a>
    </div>
</footer>

<!--google map js-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY3DXPOPFBFTwKqbUU69KPdoXcUEjQ_i0&signed_in=true&callback=initMap"></script>

{#<script type="text/javascript">#}
{#    var List = {{ mark1 |safe }}#}
{##}
{#    $('#testjson').append(List[0]);#}
{#    $('#testjson').append(List[1]);#}
{##}
{##}
{#</script>#}
{##}
{#<div id="testjson">#}
{##}
{# </div>#}


</body>
</html>